body{
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    zoom:large;
}


p{
    border-style: solid;
}

h2{
    color:aquamarine
}

table, th, td {
    border: 3px solid blue;
    border-collapse: collapse;
}