h1 {
    color: orange;
    text-align: center;
    
}

body {
    background-image: url('millimeter-grid-square-graph-paper-background-seamless-pattern-illustration-vector.jpg');
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}