body {
    background-image: url('castle-dungeon-interior-with-torches-free-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    color: white;
    font-size: 18px;
}